.offer-righ-card-job {
  background-color: #000;
  height: 650px;
}

.offer-rigth-card-text {
  color: #fff;
}

.offer-righ-card-top-title {
  background-color: var(--primary);
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  color: #fff;
  height: 30px;
  margin: 0 25% 0 25%;
  padding: 10px 0 50px 0;
  position: relative;
  text-align: center;
  top: -38px;
  width: 50%;
}

.offer-righ-card-body {
  border: 3px solid var(--primary);
  margin: 35px;
}

.offer-rigth-card-main-info {
  background-color: rgb(37, 36, 36);
  margin: 10px;
}

.offer-rigth-card-skills {
  color: #fff;
}

.ubication {
  background-color: #000;
  color: #fff;
  margin: 10px;
}
