.cardOffer{
    border-radius: 1.5em;
    width: 36rem;
}

.offer-card-rigth-icon{
    background-color:var(--primary);
    border-bottom-right-radius:1.5em;
    border-top-right-radius:1.5em;
}
.offer-card-portfolio-img{
    height: 40%;
    left: 0;
    padding: 0%;
    width: auto;
}

.offer-card-title{
    margin: 0%;
    padding: 0;
}

.offer-card-tex{
    margin: 0%;
    padding: 0;
    color: #000;
}