/* styles from Companies layout-component */

.companies {
  margin: 13.12em 0;
  padding: 0 7vw;
}

.companies-card {
  background-color: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 1.5em;
  box-shadow: 0 2px 0.94em #ccc;
  padding: 0.5em 1em 0 1em;
}

/* styles from CompaniesBrandsCard UI-component */

.companies-brands-card {
  background-color: #e8e8e8;
  border: 1px solid #eee;
  border-radius: 2.25em;
  box-shadow: 0 2px 0.94em #ccc;
  padding: 1em 1.5em;
}

.companies-brands-card-title {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  color: var(--white);
  font-family: 'medium';
  margin: 1.5em 0;
  padding: 1em;
  text-align: center;
}

@media (max-width: 48em) {
  .companies {
    margin: 6.25em 0;
    padding: 0 5vw;
  }
  .companies-card {
    margin-bottom: 2em;
  }
}
