/* styles from Services layout-component */

.services {
  padding: 0 8vw;
}

.services-title {
  margin: 7em 0 5em 0;
}

/* styles from ServicesCard UI-component */

.card {
  background-color: var(--gray1);
  border: 1px solid var(--gray2);
  border-radius: 40px;
  box-shadow: 0 2px 0.94em #ccc;
  margin-bottom: 3em;
  padding: 0px 0px 0px 0px;
}

.card-text {
  line-height: 1.56em;
  padding: 2em 0;
}

.card-title {
  color: var(--primary);
  font-size: 1.2em;
  font-weight: bold;
  padding: 2em 0.5em 1em 0.5em;
}

.card-top-img {
  padding-left: 0;
  width: 550px;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .services-title {
    margin: 2em 0 2em 0;
  }

  .card-top-img {
    left: -10px;
    padding: 0;
    position: relative;
    width: 248px;
  }

  .card-title {
    color: var(--primary);
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }

  .card-text {
    line-height: 1.56em;
    padding: 1em 0;
  }
}

@media (min-width: 320px) and (max-width: 699px) {
  .services-title {
    margin: 2em 0 2em 0;
  }
  
  .card-top-img {
    left: -9px;
    padding: 0;
   
  }

  .card-title {
    color: var(--primary);
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }

  .card-text {
    line-height: 1.56em;
    padding: 1em 0;
  }
}
