.about-us {
  display: flex;
  justify-content: center;

}

.content-aboutus {
  display: grid;
  color: #ffff;
  grid-template-columns: repeat(2, 35%);
  justify-content: center;
  width: 80%;

}

.imgBackg {
  display: grid;
  justify-content: center;
  background-image: url("../img/Cajon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  width: 80%;
  
  
 
}