.containerFeature {
  padding-left: 6em;
  margin-right: 6em;
}

.container {
  width: 200px;
  height: 200px;
  background-color: #e8e8e8;
  border-radius: 10%;
  padding-left: 1em;
  margin-top: 3em;
  margin-right: 30em;
  margin-block-end: 6em;
}

.myImage {
  background-color: black;
  width: 4.37em;
  height: 4.37em;
  margin-top: -2.18em;
  margin-left: 1.25em;
  border-radius: 1em;
}

.myImage img {
  width: 100%;
  object-fit: contain;
}

.divTitle {
  margin-block-end: 6em;
  font-size: smaller;
}

.titleCard {
  color: #760543;
  font-size: 1em;
}
