.containerFeature {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;    
  }
  
  .container {
    width:270px;
    height:200px;
    background-color: rgb(176, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10%;
    padding-left: 1em;
    margin-top: 3em;
  }
  
  .myImage {
    background-color: black;
    width: 4.37em;
    height: 4.37em;
    margin-top: -2.18em;  
    margin-left: 1.25em;
    border-radius: 10%;
    align-self: flex-end;
  }
  
  .myImage img {
    width: 100%;
    object-fit: contain;  
  }
  

/*.box1{
    background-color:#e8e8e8;
    width: 270px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding-left: 1em;
    margin-top: 3em;
    margin-left: 70px;
    float: left;
    
    
}
.imagen{
    
    background-color:black;
    width: 4.37em;
    height: 4.37em;
    margin-top: -2.18em;  
    margin-left: 1.25em;
    border-radius: 20px;
    align-self: flex-end;
}
.imagen img {
    width: 100%;
    object-fit: contain;  
  }
.box2{
    background-color:#e8e8e8;
    width: 270px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding-left: 1em;
    margin-top: 3em;
    margin-left: 70px;
    float: left;
    
}
.box3{
    background-color:#e8e8e8;
    width: 270px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding-left: 1em;
    margin-top: 3em;
    margin-left: 70px;
    float: left;
    
}

.title{
    color:#760543;
    text-align: center;
    font-size: medium;

}*/