.header{
    background-image: url("../img/BackG.png");
    background-position: -y;
    display: flex;
    
}

.headerSection{
    
    background:#ffff;
    height: 50px;
    width:80%;
    margin: 20px 80px 60px 60px;
    border-radius: 8px;
    
    

}
.Header-logo {
    width: 100px; height: justify;
    pointer-events: none;
    text-align: right;
  }

.creamos{
    float: left;
}
  .Hero{
    float: right;
  }
  .ingressButton{
    background-color: #760543;
    color: #ffff;
    border: 2px solid #760543;
    text-align: left;
    display: inline-block;
    border-radius: 8px;
    font-size: 12px;
    padding: 10px 24px
  }