@import url('./flexboxgrid.css');
@import url('./variables.css');
@import url('../fonts/fonts.css');
* {
  box-sizing: border-box;
  font-family: 'regular';
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
