
.box1{
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: left;
    width: 80%;
}
.img-icon{
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: left;
    width: 80%;
}