:root {
  /* main colors */
  --primary: #AB0100;
  --secondary: #ebd405;
  --button-hover: #3d3838;
  --black: #000000;
  --gray1: #f2f2f2;
  --gray2: #eee;
  --white: #ffffff;
  --input: #404040;

  /* properties */
  --border-radius: 0.625em;
  --titles: 2em;
}
