:root {
  /* main colors */
  --primary: #760543;
  --secondary: #e8e8e8;
  --button-hover: #3d3838;
  --black: #000000;
  --white: #ffffff;
  --input: #404040;

  /* properties */
  --border-radius: 10px;
  --titles: 2em;
}
