/* styles from Footer layout-component */

.footer {
  background-color: var(--black);
  color: var(--white);
  height: 30vh;
  margin-top: 6.25em;
  padding: 1em 0;
  text-align: center;
}

.footer-h3 {
  font-family: 'medium';
  margin: 1em 0;
}

.footer-h4 {
  margin: 1em 0;
}

.footer-logo {
  margin: 1em 0;
}

@media (min-width: 320px) and (max-width: 699px) {
  .footer {
    height: 50vh;
  }

  .footer-logo {
    height: 80px;
    margin-top: 0;
    padding: 0;
  }
}
