/* styles from Bulletin layout-component */

.bulletin {
  background-image: url("../../../assets/img/bulletin-drawer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--white);
  height: 34.4em;
  padding: 4em 0 4em 4em;
  text-align: left;
  width: 80%;
}

.bulletin-button {
  background-color: var(--primary);
  border-radius: 0 0.625em 0.625em 0;
  color: var(--white);
  cursor: pointer;
  font-family: 'bold';
  font-size: 1.5em;
  height: 4.4em;
  margin: 0.94em 0;
  padding: 1em 2em;
  text-align: center;
  transition: background-color 0.3s;
}

.bulletin-button:hover {
  background-color: var(--button-hover);
}

.bulletin-h2 {
  font-family: 'regular';
  font-size: 2.8em;
  padding-bottom: 0.5em;
}

.bulletin-input {
  background-color: var(--input);
  border: none;
  border-radius: 0.625em 0 0 0.625em;
  height: 4.4em;
}

.bulletin-input::placeholder {
  color: var(--white);
  font-family: 'medium';
}

.bulletin-title {
  margin: 3em 0 5em 0;
}

@media (max-width: 48em) {
  .bulletin {
    background-image: url("../../../assets/img/bulletin-mobile-drawer.png");
    padding: 1em;
    width: 90%;
  }
  .bulletin-button {
    border-radius: var(--border-radius);
    font-size: 1.2em;
    height: 2.4em;
    margin: 1.2em 0;
    padding: 0.7em 1em;
    text-align: center;
  }
  .bulletin-h2 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
  }
  .bulletin-input {
    border-radius: var(--border-radius);
    margin-top: -8em;
  }
}
