/* styles from Home page-component */

.home {
  background-image: url("../../../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 48em) {
  .home {
    background-image: url("../../../assets/img/background-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
