/* styles from Features layout-component */

.features {
  margin: auto;
  width: 80%;
}

.features-title {
  margin: 300px 0 150px 0;
}

/* styles from FeaturesCard UI-component */

.features-card {
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  padding: 0 1em 1em 1em;
  width: 25%;
}

.features-card-text {
  line-height: 20px;
  margin: 2em 0;
}

.features-card-title {
  color: var(--primary);
  font-size: 1em;
  margin-bottom: 1em;
}

.features-card-top-image {
  box-sizing: border-box;
  right: -208px;
  position: relative;
  top: -30px;
}

@media (max-width: 450px) {
  .features-card {
    border-radius: 25px;
    margin-bottom: 4em;
    padding: 0 1em 1em 1em;
    width: 100%;
  }
  .features-card-top-image {
    right: -158px;
    top: -20px;
  }
  .features-title {
    margin: 50px 0 150px 0;
  }
}
