/* styles from Features layout-component */

.features {
  margin: 340px 0;
}

.features-title {
  margin: 140px 0;
}

.features-card {
  width: 400px;
  height: 300px;
  background-color: var(--secondary);
  border-radius: var(--border-radius);
}

.features-card-top-image {
  right: 1em;
  top: 2em;
  width: 20%;
}


.features-card-title {
  color: var(--primary);
  font-size: 1em;
}
