.rec.rec-arrow {
    visibility: hidden;
}

.rec.rec-pagination{
    visibility: hidden;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .rec.rec-arrow {
        background-color: var(--primary);
        border-radius: var(--border-radius);
        visibility: visible;
    }
    
    .rec.rec-arrow:hover {
        background-color: var(--primary);
        border-radius: var(--border-radius);
    }

    .rec-arrow-left{
        align-self: flex-start;
    } 

    .rec-arrow-right{
        align-self: flex-start;
    } 
    
    .rec.rec-pagination{
        background-color: var(--secondary);
        visibility: visible;
    }
    
    .rec.rec-pagination:hover {
        border-radius: var(--border-radius);
    }
}
@media (min-width: 320px) and (max-width: 699px) {
.rec.rec-carousel-wrapper{
    display: flex;
}

.rec.rec-carousel{
    position: relative;
    width: 100%;
    margin: 30px 0;
    height: 300px;
}

.rec.rec-slider-container{
    overflow: visible;
    /* Shows lateral items */
}

.rec.rec-slider{
    overflow: visible;
}

.rec.rec-swipable{
    overflow: visible;
}

.rec.rec-carousel-item-visible{
    position: absolute;
    width: 350px; /* this is a test */
    overflow: visible;
}

.rec.rec-item-wrapper{
    overflow: visible;
}

.rec.rec-arrow {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    position: relative;
    visibility: visible;
}

.rec.rec-arrow:hover {
    background-color: var(--primary);
    border-radius: var(--border-radius);
}

.rec.rec-arrow-left{
    align-self: flex-start;
    position: relative;
    top: -40px;
} 

.rec.rec-arrow-right{
    align-self: flex-start;
    position: relative;
    top: -40px;
} 

.cardOffer{
    z-index: 0;
    top: 20px;
    overflow: hidden;
    margin: 0 30px 0 30px;
}

.rec.rec-pagination{
    background-color: var(--secondary);
    visibility: visible;
    align-self: center;
}

.rec.rec-pagination:hover {
    border-radius: var(--border-radius);
    
}

.rec.rec-dot:hover{
    background-color: var(--secondary);
    box-shadow: 0 0 1px 2px var(--primary);
}
}
