.rec.rec-arrow {
    visibility: hidden;
}

.rec.rec-pagination{
    visibility: hidden;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .rec.rec-arrow {
        visibility: visible;
        display: flex;
        align-items: flex-start;
        position: relative;
        top:500;        
        background-color: var(--primary);
        border-radius: var(--border-radius);
    }
    
    .rec.rec-arrow:hover {
        background-color: var(--primary);
        border-radius: var(--border-radius);
    }
    
    .rec.rec-pagination{
        visibility: visible;
        background-color: var(--secondary);
    }
    
    .rec.rec-pagination:hover {
        border-radius: var(--border-radius);
    }
}
@media (min-width: 320px) and (max-width: 699px) {
.rec.rec-arrow {
    visibility: visible;
    background-color: var(--primary);
    border-radius: var(--border-radius);
}

.rec.rec-arrow:hover {
    background-color: var(--primary);
    border-radius: var(--border-radius);
}

.rec.rec-pagination{
    visibility: visible;
    background-color: var(--secondary);
}

.rec.rec-pagination:hover {
    border-radius: var(--border-radius);
}
}
