.offers{
  margin: auto;
  padding: 0;
  width: 80%;
  
}

.offer-carousel{
  background-color: var(--secondary);
  width: auto;
  border-radius: 1.5rem;
}

.offers-title{
  padding-bottom: 40px;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .offers{
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 699px) {
  .offers{
    display: none;
  }
}