.offers {
    padding: 0px;
    margin: 0px;
    background-color: aqua;
    border: 10px solid #000;
}

.offers-title {
    margin: 3em 0 5em 0;
  }

.offers-h2 {
    font-family: 'regular';
    font-size: 2.8em;
    padding-bottom: 0.5em;
  }

.offers-carousel-box{
    border: 10px solid #000;
}

.carousel{
    height: 500px;
}
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,100%, 0%);
        transform: translate3d(0,100%, 0%);
}
