.simple-slider{
    visibility: hidden;
    height: 1vh;
}
@media (min-width: 320px) and (max-width: 699px) {
.simple-slider{
    visibility: visible;
    height: 90vh;
    background-color: var(--secondary);
    padding: auto;
    border-radius: var(--border-radius);
}

.simple-slider .slick-next{
    top: 30px;
    right: 20px  !important;
}
.simple-slider .slick-slider{
    padding-top: 60px;
}  

.simple-slider .slick-next:before{
    content: '>';
    color: black;
}
.simple-slider .slick-prev{
    top: 30px;
    left: 20px  !important;
}
.simple-slider .slick-prev:before{
    content: '<';
    color: black;
}

.simple-slider .responsive-content-img{
    padding: 20px;
}
.simple-slider .slide-image{
    border-radius: 1rem;
    
}
}
