.general-section{
    display: flex;
    flex-direction: row;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 280px;
    width: 800px;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    margin: 10px;
}

.card-category{
    background-color: var(--primary);
    height: 120px;
    width: 180px;
    border-radius: var(--border-radius);
    margin: 10px;
    padding: 5px;
}

.category-others{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 280px;
    width: 800px;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    margin: 10px;
}

.summary-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 400px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
}

.category-place-holder{
    width: 60px;
}