* {
  box-sizing: content-box;
}
.container{
  box-sizing: border-box; /* mine, trying to put a limit to the elements */
  display: flex;
  flex-direction: row;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  border-radius: 1.5rem;
}

.outer-container {
  /* box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  height: 700px;
  /* Increase container size */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}

.outer-container>div {
  flex: 1;
  padding: 20px;
}

.outer-container .carousel-wrapper {
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  margin-right: 0;
}

/* .outer-container {
  background: var(--white);
} */

.carousel {
  height: 100%;
  display: flex;
  flex: 5;
  align-items: center;
  color: var(--white);
}

.carousel-button {
  display: flex;
  align-self: flex-end;
  padding: 10px;
  max-width: 50px;
  border-radius: 30px;
  background: var(--primary);
  border: 2px solid var(--white);
}

.carousel-button svg {
  height: 26px;
  width: 26px;
}

.carousel-button path {
  fill: var(--white);
}

.slides {
  align-self: flex-start;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  position: absolute;
  max-height: 250px;
  height: 250px;
}

.carousel-inner::before, .carousel-inner::after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 110px;
  pointer-events: none;
}

.carousel-inner::before {
  top: 0;
  background: linear-gradient( 0deg, hsla(0, 0%, 100%, 0) 0%, hsla(27, 100%, 48%, 1) 100%);
}

.carousel-inner::after {
  bottom: 0;
  background: linear-gradient( 0deg, hsla(27, 100%, 48%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 75px 25px 25px 25px;
  /* to vertical align carousel between buttoms */
  margin: 0;
  opacity: 0;
  top: 112px;
  transition: transform 0.4s ease, opacity 0.4s ease;

}

.carousel-item.visible {
  opacity: 1;
}

.content {
  margin-top: 40px;
  height: auto;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .content{
    display: none;
  }

}

