* {
  box-sizing: content-box;
}

.container{
  display: flex;
  flex-direction: row;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.outer-container {
  /* box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: space-around;
  height: 700px;
  /* Increase container size */
  width: 100%;
  margin-left: 0%;
}

.outer-container>div {
  flex: 1;
  padding: 20px;
}

.outer-container .carousel-wrapper {
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  margin-right: 0;
}

/* .outer-container {
  background: var(--white);
} */

.carousel {
  align-items: center;
  color: var(--white);
  display: flex;
  flex: 5;
  height: 100%;
}

.carousel-button {
  align-self: flex-end;
  background: var(--primary);
  border-radius: 30px;
  border: 2px solid var(--white);
  display: flex;
  max-width: 50px;
  padding: 10px;
}

.carousel-button svg {
  height: 26px;
  width: 26px;
}

.carousel-button path {
  fill: var(--white);
}

.slides {
  align-self: flex-start;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  height: 250px;
  max-height: 250px;
  position: absolute;
}

.carousel-inner::before, .carousel-inner::after {
  content: "";
  height: 110px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.carousel-inner::before {
  background: linear-gradient( 0deg, hsla(0, 0%, 100%, 0) 0%, hsla(27, 100%, 48%, 1) 100%);
  top: 0;
}

.carousel-inner::after {
  background: linear-gradient( 0deg, hsla(27, 100%, 48%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
  bottom: 0;
}

.carousel-item {
  background: none;
  border: none;
  /* to vertical align carousel between buttoms */
  margin: 0;
  opacity: 0;
  padding: 75px 25px 25px 25px;
  position: absolute;
  top: 112px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.carousel-item.visible {
  opacity: 1;
}

.content {
  height: auto;
  margin-top: 40px;
  padding: 0;
  border-radius: var(--border-radius);
}
